<table>
  <tr>
    <td colspan="2"><b>Lab 4 - Second Period - PM</b></td>
  </tr>

  <tr>
    <td width="10%"><b>Last Name</b></td>
    <td width="10%"><b>First Name</b></td>
	<td width="80%"></td>
  </tr>
  
  <% @students.each do |student| %>
    <tr>
      <td width="10%"><%=h student.lname %></td>
      <td width="10%"><%=h student.fname %></td>
      <td width="80%"></td>
    </tr>
  <% end %>
</table>
<br />


